.main-box {

    height: 100px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(17, 17, 180);


}



#black-box{background-color: black;

}


#purple-box{background-color: purple

}

#green-box{background-color: green

}

#orange-box{background-color:orange

}

#yellow-box{background-color:yellow

}

#red-box{background-color:red

}

#brown-box{background-color:brown 

}

#violet-box{background-color:violet

}

#grey-box{background-color: grey}




